* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(imagenes/black-glitch-effect-digital-noise-texture-background.jpg);
    font-family: Helvetica, Times, Tahoma, sans-serif;
  }
  
  .main {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    color: rgb(47, 173, 131);
  }
  
  .titulo { 
    padding: 15px;
    width: 30vw;
    margin: auto;
    color: rgb(47, 173, 131);
  
  }
  
  .box { 
    padding: 5px;
    margin: 0 5px 0 5px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    background-color: rgb(94, 94, 94);
    border-radius: 0.5em;
    width: 30vw;
    height: auto;
  }
  
  .btn { 
    border: 0;
    color: rgb(47, 173, 131);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.5em;
  }
  
  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgb(7, 7, 7);
    display: block;
    padding: 0.9em;
    width: 100%;
    height: 50px;
  }

  .titulo-footer{
    padding: 15px;
    color: rgb(77, 22, 206);
  }
  
  footer{
    width: 100%;
    background: rgb(39, 39, 39);
    color: rgb(47, 173, 131);
  }
  
  .container-footer-all{
    width: 100%;
    max-width: 12000px;
  }
  
  .container-body{
    display: flex;
  }
  
  .colum1{
    padding: 15px;
    max-width: 400px;
  }
  
  .colum1 h1{
    font-size: 22px;
  }
  
  .colum1 p{
    font-size: 14px;
    color: rgb(47, 173, 131);
    margin-top: 20px;
  }

  .colum3{
    padding-top: 5px;
    padding-left: 58%;
  }

  .copyright{
    padding-left: 15px;
    color: rgb(47, 173, 131);
  }
